/** GENERAL **/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  /* Colors */
  --background-color: #ffffff;
  --background-color-alt: #f9f9f9;
  --text-color: #232b2b;

  /* Font-Sizes */
  --font-smaller: 1rem;
  --font-small: 1.25rem;
  --font-medium: 1.5rem;
  --font-large: 1.75rem;
  --font-larger: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 62px;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
button,
span {
  overflow-wrap: break-word;
  hyphens: auto;
  color: white;
}

p {
  max-width: 60ch;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/** SPECIFICS **/
