.mainWrapper {
  position: relative;
  height: 100dvh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dogFoodModeText {
  position: absolute;
  top: 2rem;
}

.greenText {
  color: green;
}

.redText {
  color: rgb(168, 0, 0);
}

.beanHeading {
  text-align: center;
  font-size: 2rem;
}

.spinningBean {
  color: rgb(168, 0, 0);
}

.spinButton {
  position: absolute;
  padding: 0.5rem 2rem;
  bottom: 2rem;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  min-width: 200px;
  font-size: 1.5rem;
  transition: 0.2s;
}

.dogFoodMode {
  background-color: rgb(234, 234, 234);
}

.spinning {
  background-color: rgb(168, 0, 0);
  color: white;
}
